<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Sprites/button_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 540}, {125, 129}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7, 2}, {125, 129}}</string>
			<key>sourceSize</key>
			<string>{138, 134}</string>
		</dict>
		<key>Sprites/para_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {490, 537}}</string>
			<key>offset</key>
			<string>{11, -9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22, 19}, {490, 537}}</string>
			<key>sourceSize</key>
			<string>{512, 556}</string>
		</dict>
		<key>Sprites/penguin_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{493, 1}, {507, 340}}</string>
			<key>offset</key>
			<string>{1, 5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7, 11}, {507, 340}}</string>
			<key>sourceSize</key>
			<string>{519, 373}</string>
		</dict>
		<key>Sprites/star_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 671}, {94, 88}}</string>
			<key>offset</key>
			<string>{-6, 1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {94, 88}}</string>
			<key>sourceSize</key>
			<string>{108, 92}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>textureFileName</key>
		<string>Sprites.png</string>
	</dict>
</dict>
</plist>
