<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Sprites/button_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 882}, {325, 336}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {325, 336}}</string>
			<key>sourceSize</key>
			<string>{325, 336}</string>
		</dict>
		<key>Sprites/button_07.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1220}, {229, 236}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {229, 236}}</string>
			<key>sourceSize</key>
			<string>{229, 236}</string>
		</dict>
		<key>Sprites/para_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{1511, 343}, {490, 537}}</string>
			<key>offset</key>
			<string>{11, -9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22, 19}, {490, 537}}</string>
			<key>sourceSize</key>
			<string>{512, 556}</string>
		</dict>
		<key>Sprites/penguin_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{1511, 1}, {507, 340}}</string>
			<key>offset</key>
			<string>{1, 5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7, 11}, {507, 340}}</string>
			<key>sourceSize</key>
			<string>{519, 373}</string>
		</dict>
		<key>Sprites/star_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1458}, {232, 219}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 8}, {232, 219}}</string>
			<key>sourceSize</key>
			<string>{232, 234}</string>
		</dict>
		<key>Sprites/stars_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {1508, 803}}</string>
			<key>offset</key>
			<string>{12, -17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29, 38}, {1508, 803}}</string>
			<key>sourceSize</key>
			<string>{1542, 845}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>textureFileName</key>
		<string>Sprites.png</string>
	</dict>
</dict>
</plist>
